.section-container {
    padding: 100px 0 150px;
    border-top: 1px solid $third-light-color;

    &:nth-child(even) {
        background-color: $secondary-light-color;
    }

    .logo {
        text-align: center;

        .icon {
            font-size: 220px;
        }
    }

    &.warranty {
        .logo .icon {
            color: #f7931d;
        }
        .btn {
            background-color: #f7931d;
        }
    }
    &.safety {
        .logo .icon {
            color: #75a541;
        }
        .btn {
            background-color: #75a541;
        }
    }
    &.quality {
        .logo .icon {
            color: #24A5DB;
        }
        .btn {
            background-color: #24A5DB;
        }
    }
    &.smart {
        .logo .icon {
            color: #FFBB03;
        }
        .btn {
            background-color: #FFBB03;
        }
    }
}
