$header-height: 50%;

.header {
    height: $header-height;
    width: 100%;

    .header-image {
        position: fixed;
        height: $header-height;
        width: 100%;

        background: url('/img/index/header.jpg');
        background-position: center;
        @include background-size(cover);

        z-index: -1;
    }

    .title-container {
        height: 100%;
    }
    .page-header {
        position: relative;
        top: 50%;
        @include translateY(-200%);
    }

    .header-title {
        color: $primary-light-color;
    }
    .header-subtitle {
        color: $third-light-color;
    }
}
